
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url('MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrl-500.otf')  format('opentype'),
	     url('MuseoSansCyrl-500.woff') format('woff'), url('MuseoSansCyrl-500.ttf')  format('truetype'), url('MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
