
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.otf') format('opentype'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.otf') format('opentype'), url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.otf') format('opentype'), url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.otf') format('opentype'), url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.woff') format('woff'), url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
  font-weight: normal;
  font-style: normal;
}