
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Medium Devices, Tabs */
/* Small Devices, Phones */
/* Small Devices, Phones */
@media only screen and (max-width: 1180px) {
  .container {
    width: 95%;
  }
  .flex {
    justify-content: space-around;
  }
  .div_2 {
    .text_block {
      max-width: inherit;
      margin-bottom: 60px;
      text-align: center;
    }
  }
  .wrapper.page {
    .content {
      .forgot {
        h4 {
          text-align: center;
        }
        form {
          margin: 25px auto;
        }
      }
    }
  }
  .div_8 {
    .roadmap {
      .row {
        &::after {
          display: none;
        }
        justify-content: space-around;
        .col {
          margin: 0 0 50px;
          width: 35%;
          position: relative;
          &:nth-child(odd) {
            &::after {
              position: absolute;
              content: '';
              width: 64px;
              height: 64px;
              background: url(../images/right-arrow.png) no-repeat;
              top: 40px;
              right: -30%;
            }
          }
        }
      }
      .blocks {
        padding: 60px 0;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .div_6 {
    .blocks {
      .block {
        &:hover {
          .text {
            opacity: 1;
          }
        }
      }
    }
  }
  .div_7 {
    .diagrams {
      .block {
        &:hover {
          .text {
            bottom: -40%;
            opacity: 1;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  header {
    .login {
      margin: 10px auto;
      max-width: 300px;
    }
  }
  .menu {
    display: none;
  }
  .div_1 {
    .block-1 {
      text-align: center;
    }
    .block-2 {
      text-align: center;
      .row {
        margin: 35px 0 0;
        .col {
          width: 240px;
          text-align: center;
          margin-bottom: 30px;
        }
      }
    }
  }
  .div_4 {
    .block-1 {
      width: 100%;
      max-width: inherit;
      text-align: center;
    }
    .block-2 {
      width: 32%;
    }
  }
  .div_6 {
    .title {
      justify-content: center;
    }
    .blocks {
      justify-content: space-around;
      .block {
        margin-left: 0;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 45px;
    }
    h3 {
      font-size: 35px;
    }
    h4 {
      font-size: 25px;
    }
  }
  .title {
    h2 {
      text-align: center !important;
    }
  }
  .social {
    max-width: 250px;
    margin: 0 auto;
    a {
      margin: 5px 10px;
    }
  }
  .div_1 {
    padding-bottom: 50px;
  }
  .div_9 {
    .block {
      .social {
        margin: 30px auto;
      }
      text-align: center;
      max-width: inherit;
      .form {
        margin: auto;
        padding: 15px;
      }
    }
    padding: 50px 0;
  }
  .div_2 {
    padding: 50px 0;
    .video {
      &::after {
        top: -7px;
        right: -7px;
      }
      &::before {
        bottom: -7px;
        left: -7px;
      }
      margin: 30px;
    }
  }
  .div_3 {
    padding: 50px 0;
    .title {
      justify-content: center;
    }
    .blocks {
      .block {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .div_4 {
    padding: 50px 0;
    .block-2 {
      margin-bottom: 30px;
    }
  }
  .div_5 {
    padding: 50px 0;
  }
  .div_6 {
    padding: 50px 0;
  }
  .div_7 {
    .blocks {
      .block {
        margin: 15px 0;
      }
    }
    .diagrams {
      .block {
        margin: 30px 0;
      }
    }
  }
  .div_8 {
    .roadmap {
      padding: 0;
      margin: 0;
      .row {
        .col {
          width: 85%;
          margin-bottom: 80px;
          &:nth-child(odd) {
            &::after {
              position: absolute;
              content: '';
              width: 40px;
              height: 40px;
              background: url(../images/right-arrow.png) no-repeat;
              background-size: contain;
              top: auto;
              bottom: -60px;
              right: 50%;
              margin-right: -20px;
              transform: rotate(90deg);
            }
          }
          &:nth-child(even) {
            &::after {
              position: absolute;
              content: '';
              width: 40px;
              height: 40px;
              background: url(../images/right-arrow.png) no-repeat;
              background-size: contain;
              top: auto;
              bottom: -60px;
              right: 50%;
              margin-right: -20px;
              transform: rotate(90deg);
            }
          }
        }
        &:last-child {
          .col {
            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  body {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 35px;
      padding-bottom: 15px;
    }
    h3 {
      font-size: 30px;
    }
  }
  .div_5 {
    .text {
      text-align: center;
      span {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  .wrapper.page {
    .content {
      .forgot {
        form {
          flex-wrap: wrap;
          .button {
            max-width: inherit;
            width: 90%;
            margin: 10px auto 0;
            padding: 0 20px;
          }
          input[type='text'] {
            max-width: inherit;
            width: 90%;
            margin: 10px auto 0;
            padding: 0 20px;
          }
        }
      }
      .form {
        padding: 10px;
      }
    }
  }
  .div_1 {
    .block-1 {
      form {
        flex-wrap: wrap;
      }
      .form {
        input[type='text'] {
          max-width: inherit;
          width: 90%;
          margin: 10px auto 0;
          padding: 0 20px;
        }
        .button {
          max-width: inherit;
          width: 90%;
          margin: 10px auto 0;
          padding: 0 20px;
        }
      }
    }
  }
}
