/*
input[type='text']:focus {
    border: 1px solid #4b4b4b;
}
*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 300px;
}
body h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'MuseoSansCyrl-900';
}
body h2 {
  font-size: 70px;
  font-family: 'MuseoSansCyrl-900';
  color: white;
}
body h3 {
  font-size: 45px;
  font-family: 'MuseoSansCyrl-500';
  color: white;
}
body h4 {
  font-size: 30px;
  font-family: 'MuseoSansCyrl-500';
  color: white;
}
body a {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}
body p {
  color: #fff;
  line-height: 24px;
}
body p .pag {
  padding: 10px;
}
body img {
  max-width: 100%;
}
body li {
  list-style-type: none;
  /* Убираем маркеры */
}
body ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.wrapper .index {
  background-color: #202020;
}
.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'MuseoSansCyrl-500';
  font-size: 16px;
}
ul.list {
  padding-left: 20px;
}
ul.list li {
  list-style: disc;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.flex.al_center {
  align-items: center;
}
.center {
  text-align: center;
}
.wrapper.index header {
  background-color: #202020;
  position: absolute;
  display: block;
  width: 100%;
  z-index: 99;
  top: 0;
}
.wrapper.index header .container {
  padding: 15px 0 0;
}
.wrapper.index header .block {
  width: 100%;
  max-width: 800px;
}
.login li a {
  display: block;
  color: #fff;
  font-size: 20px;
  font-family: 'MuseoSansCyrl-900';
}
.login li a:hover {
  color: #f9d554;
}
.menu li a {
  display: block;
  color: #fff;
  font-size: 20px;
  font-family: 'MuseoSansCyrl-900';
}
.menu li a:hover {
  color: #f9d554;
}
header .menu {
  flex-grow: 4;
}
header .login {
  flex-grow: 1;
  margin-left: 50px;
}
.gold {
  background-image: linear-gradient(to top, #b7862e 0%, #f9d554 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div_1 {
  background: url(../images/div_1_bg.png) no-repeat center;
  background-size: cover;
  padding: 170px 0 90px;
}
.div_1 .block-1 {
  padding: 0px;
  max-width: 450px;
  margin-bottom: 50px;
}
.div_1 .block-1 h4 {
  padding-bottom: 30px;
}
.div_1 .block-1 .form {
  margin-top: 20px;
}
.div_1 .block-1 .form h4 {
  color: #f9d554;
}
.div_1 .block-1 .form .button {
  max-width: 150px;
  margin: 0;
  margin-left: -50px;
}
.div_1 .block-1 .form input[type='text'] {
  padding-right: 60px;
  margin: 0;
}
.div_1 .block-1 form {
  flex-wrap: nowrap;
}
.div_1 .block-2 {
  max-width: 580px;
}
.div_1 .block-2 .row {
  margin: 35px 0;
}
.div_1 .block-2 .row .button {
  max-width: 165px;
  margin: 15px auto 0;
  border: 1px solid #f9d554;
  background: none;
  color: #f9d554;
}
.div_1 .block-2 .row .button:hover {
  background: #f9d554;
  color: #000;
}
.div_1 .block-2 .row .col {
  width: 240px;
  text-align: center;
}
.div_1 .block-2 h3 {
  color: #f9d554;
  margin-bottom: 15px;
}
.div_1 .block-2 h4 {
  color: #fff;
}
.div_1 .block {
  border: 1px solid rgba(249, 213, 84, 0.5);
  margin-bottom: 50px;
}
.div_1 .block .blockback {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}
.div_1 .block .blockback > .button {
  margin: auto;
  height: 55px;
}
.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(249, 213, 84, 0.5);
  border-radius: 100%;
}
.social a:hover {
  border: 1px solid #fff;
}
.social a:hover img {
  filter: brightness(100);
}
.div_2 {
  padding: 90px 0;
}
.div_2 .text_block {
  max-width: 550px;
}
.div_2 .text_block h4 {
  font-size: 25px;
}
.div_2 .video {
  padding-left: 30px;
  position: relative;
}
.div_2 .video .block {
  position: relative;
  z-index: 3;
}
.text h4 {
  color: #a6a6a6;
}
.div_3 {
  background: url(../images/div_3_bg.png) no-repeat center;
  background-size: cover;
  padding: 100px 0;
}
.div_3 .title {
  justify-content: flex-end;
}
.div_3 .title h2 {
  text-align: right;
}
.div_3 .blocks {
  align-items: stretch;
  justify-content: center;
  margin: 60px 0 0;
}
.div_3 .blocks .block {
  max-width: 350px;
  border: 2px solid rgba(249, 213, 84, 0.8);
  background-color: black;
  padding: 30px;
  margin: 0 20px;
  margin-bottom: 60px;
  color: white;
}
.div_3 .blocks .block p {
  padding-bottom: 10px;
}
.div_3 .blocks .block h4 {
  color: #f9d554;
  padding-bottom: 10px;
  text-align: center;
}
.div_4 {
  padding: 90px 0 30px;
  background: url(../images/div_4_bg.png) no-repeat center;
  background-size: cover;
}
.div_4 .container {
  align-items: center;
}
.div_4 .block-1 {
  max-width: 51%;
  margin-bottom: 60px;
}
.div_4 .block-2 {
  width: 21%;
  max-width: 205px;
  min-width: 205px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
  position: relative;
}
.div_4 .block-2::before {
  position: absolute;
  content: '';
  width: 116px;
  height: 160px;
  border-bottom: 1px solid rgba(249, 213, 84, 0.5);
  border-left: 1px solid rgba(249, 213, 84, 0.5);
  z-index: 1;
  display: block;
  bottom: 0px;
  left: 0px;
}
.div_4 .block-2::after {
  position: absolute;
  content: '';
  width: 116px;
  height: 160px;
  border-right: 1px solid rgba(249, 213, 84, 0.5);
  border-top: 1px solid rgba(249, 213, 84, 0.5);
  z-index: 1;
  display: block;
  top: 0px;
  right: 0px;
}
.div_4 .block-2 .block {
  width: 100%;
  position: relative;
  z-index: 2;
}
.div_4 .block-2 h4 {
  color: #f9d554;
  text-align: center;
  width: 90%;
  margin: auto;
}
.div_4 .block-2 img {
  max-width: 50%;
}
.div_4 .block-2 .img {
  height: 110px;
  margin-bottom: 20px;
}
.div_5 {
  padding: 90px 0 30px;
}
.div_5 .block-1 {
  max-width: 650px;
  margin-bottom: 30px;
}
.div_5 .block-1 .text {
  margin: 30px 0;
}
.div_5 .text span {
  color: #f9d554;
  font-family: 'MuseoSansCyrl-900';
}
.div_5 .block-2 {
  max-width: 510px;
  width: 100%;
}
.div_5 .block-2 .block {
  max-width: 220px;
  margin-bottom: 30px;
}
.div_5 .block-2 .img {
  margin-bottom: 30px;
}
.div_6 {
  padding: 90px 0 30px;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}
.div_6 .title {
  justify-content: flex-end;
}
.div_6 .title h2 {
  max-width: 600px;
  text-align: right;
}
.div_6 .blocks {
  justify-content: flex-end;
  margin: 60px 0;
}
.div_6 .blocks .block {
  margin-left: 20px;
  margin-bottom: 20px;
}
.div_6 .blocks .block:first-child {
  margin-left: 0;
}
.div_6 .blocks .block h4 {
  text-align: center;
  color: #f9d554;
}
.div_6 .blocks .block .img {
  width: 280px;
  height: 265px;
  border: 1px solid rgba(249, 213, 84, 0.5);
  position: relative;
  margin-bottom: 30px;
}
.div_6 .blocks .block .img .text {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.div_6 .blocks .block .img .text.active {
  opacity: 1;
  background: rgba(36, 36, 36, 0.75);
}
.div_7 {
  padding: 90px 0 30px;
}
.div_7 .blocks .block {
  margin: 60px 0;
  width: 210px;
  min-height: 120px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div_7 .blocks .block::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 160px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  z-index: 1;
  display: block;
  bottom: 0px;
  left: 0px;
}
.div_7 .blocks .block::after {
  position: absolute;
  content: '';
  width: 160px;
  height: 100%;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  z-index: 1;
  display: block;
  top: 0px;
  right: 0px;
}
.div_7 .blocks .block span {
  color: #f9d554;
  font-family: 'MuseoSansCyrl-900';
}
.div_7 .diagrams {
  justify-content: space-around;
}
.div_7 .diagrams .block {
  text-align: center;
  width: 100%;
  max-width: 380px;
  margin-bottom: 60px;
  position: relative;
  cursor: pointer;
}
.div_7 .diagrams .block .img {
  position: relative;
  z-index: 1;
}
.div_7 .diagrams .block .text.active {
  opacity: 1;
  bottom: -40%;
}
.div_7 .diagrams .block .text {
  position: absolute;
  border: 1px solid rgba(249, 213, 84, 0.5);
  background-color: #000000;
  padding: 20px;
  width: 100%;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}
.div_7 .diagrams .block h4 {
  margin-bottom: 30px;
}
.div_8 {
  padding: 90px 0 30px;
  background-color: #292929;
}
.div_8 .roadmap {
  margin-top: 50px;
  width: 100%;
}
.div_8 .roadmap .blocks {
  padding: 0 100px;
  padding-top: 50px;
}
.div_8 .roadmap .row {
  align-items: stretch;
  position: relative;
  justify-content: center;
}
.div_8 .roadmap .row::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #f9d554;
}
.div_8 .roadmap .row:nth-child(odd)::after {
  border-left: none;
  right: -100px;
  border-radius: 0 200px 200px 0;
}
.div_8 .roadmap .row:nth-child(even) {
  top: -1px;
}
.div_8 .roadmap .row:nth-child(even)::after {
  border-right: none;
  left: -100px;
  border-radius: 200px 0 0 200px;
}
.div_8 .roadmap .row:last-child::after {
  border: none;
}
.div_8 .roadmap .row .col {
  width: 120px;
  text-align: center;
  margin-right: 150px;
  margin-bottom: 80px;
  margin-top: -40px;
  z-index: 99;
}
.div_8 .roadmap .row .col:last-child {
  margin-right: 0;
}
.div_8 .roadmap .row .col .img {
  margin-bottom: 15px;
}
.div_8 .roadmap .row .col p span {
  font-family: 'MuseoSansCyrl-900';
  color: #f9d554;
}
.div_9 {
  padding: 90px 0;
  background: url(../images/div_9_bg.png) no-repeat center;
  background-size: cover;
}
.div_9 .title {
  margin-bottom: 30px;
}
.div_9 .block {
  width: 100%;
  max-width: 600px;
}
.div_9 .block .social {
  margin: 30px 0;
}
.div_9 .block .form {
  border: 1px solid rgba(249, 213, 84, 0.5);
  max-width: 450px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.7);
}
.div_9 .block .form h3 {
  color: #f9d554;
}
.div_9 .block .form form {
  max-width: 280px;
  margin: auto;
}
.div_9 .block .form form .button {
  max-width: inherit;
}
footer .container {
  padding: 20px 0;
}
footer .container .menu {
  width: 100%;
  max-width: 650px;
}
.wrapper.page {
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper.page header {
  position: relative;
}
.wrapper.page header .container {
  padding: 60px 0 20px;
}
.wrapper.page header .container a {
  font-size: 20px;
  font-family: 'MuseoSansCyrl-900';
}
.wrapper.page header .container a:hover {
  color: #f9d554;
}
.wrapper.page .content .form {
  max-width: 449px;
  margin: 30px auto;
  border: 1px solid rgba(249, 213, 84, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
}
.wrapper.page .content .form h3 {
  color: #f9d554;
  padding-bottom: 10px;
}
.wrapper.page .content .form form {
  max-width: 280px;
  margin: 15px auto 0;
}
.wrapper.page .content .form .row {
  margin-top: 30px;
}
.wrapper.page .content .form .row a:hover {
  color: #f9d554;
}
.wrapper.page .content .form .button {
  max-width: 130px;
}
.wrapper.page .content .form .button.button-2 {
  border: 1px solid #f9d554;
  background: none;
  color: #f9d554;
}
.wrapper.page .content .form .button.button-2:hover {
  background-image: linear-gradient(to top, #b7862e 0%, #f9d554 50%);
  color: #000;
}
.wrapper.page .content .forgot h4 {
  color: #f9d554;
}
.wrapper.page .content .forgot form {
  flex-wrap: nowrap;
  max-width: 450px;
  margin: 25px 0;
}
.wrapper.page .content .forgot form .button {
  max-width: 150px;
  margin: 0;
  margin-left: -50px;
}
.wrapper.page .content .forgot form input[type='text'] {
  padding-right: 60px;
  margin: 0;
}
.form .button.center {
  margin: 10px auto;
}
.wrapper.page2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0eded;
}
.wrapper.page2 header {
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
}
.wrapper.page2 header .container {
  padding: 20px 0;
}
.wrapper.page2 header .container .login {
  max-width: 200px;
  margin: 10px 0;
}
.wrapper.page2 .content h3 {
  color: #f9d554;
}
.wrapper.page2 .content p {
  color: #202020;
  font-size: 20px;
  font-family: "MuseoSansCyrl-300";
  padding: 5px 0;
}
.wrapper.page2 .content .text {
  margin: 20px 0;
}
.wrapper.page2 .content .button {
  max-width: 130px;
}
.wrapper.page2 .content .form {
  max-width: 549px;
  margin: 30px auto;
  border: 1px solid rgba(249, 213, 84, 0.5);
  text-align: center;
  padding: 30px;
}
.wrapper.page2 .content .form input[type='text'] {
  max-width: 450px;
}
.wrapper.page2 .content .form input[type='password'] {
  max-width: 450px;
}
.newsletter {
  padding: 20px 0;
  max-width: 450px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.newsletter label {
  flex-basis: auto;
  font-size: 20px;
}
.back-top {
  position: fixed;
  bottom: 50px;
  right: 5%;
  z-index: 9999;
  background: url(../images/back.svg) no-repeat 0px;
  background-size: 100%;
  display: block;
  height: 50px;
  width: 50px;
  opacity: 0;
  transition: 0.5s;
  fill: #ff0000;
  pointer-events: none;
}
.back-top.active {
  opacity: 0.8;
  cursor: pointer;
  pointer-events: all;
}
.back-top.active:hover {
  opacity: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10000;
}
.nonebox {
  position: fixed;
  top: -350px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  width: 90%;
  max-width: 420px;
  height: auto;
  z-index: 99999;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
  font-family: 'MuseoSansCyrl-300';
  box-sizing: border-box;
}
.nonebox .button {
  margin: 10px auto;
}
.box-close {
  width: 18px;
  height: 18px;
  background: url('../images/close.png') no-repeat center;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 9px;
  right: 9px;
}
.button {
  width: 100%;
  max-width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 27px;
  background-color: #4b4b4b;
  background-image: -webkit-linear-gradient(bottom, #b7862e 0%, #f9d554 100%);
  background-image: -o-linear-gradient(bottom, #b7862e 0%, #f9d554 100%);
  background-image: linear-gradient(to top, #b7862e 0%, #f9d554 100%);
  margin: 10px 0;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  color: #000;
  -webkit-appearance: none;
  font-family: 'MuseoSansCyrl-500';
}
.button:hover {
  background-image: -webkit-linear-gradient(bottom, #b7862e 100%, #f9d554 10%);
  background-image: -o-linear-gradient(bottom, #b7862e 100%, #f9d554 10%);
  background-image: linear-gradient(to top, #b7862e 0%, #f9d554 50%);
}
input[type='text'] {
  max-width: 370px;
  width: 100%;
  min-width: 200px;
  height: 45px;
  border-radius: 27px;
  border: none;
  background-color: #fff;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 0 15px;
  outline: none;
  color: #4b4b4b;
  font-size: 18px;
  font-family: 'MuseoSansCyrl-500';
}
input[type='text']::placeholder {
  color: #4b4b4b;
}
input[type='password'] {
  max-width: 370px;
  width: 100%;
  min-width: 200px;
  height: 45px;
  border-radius: 27px;
  border: none;
  background-color: #fff;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 0 15px;
  outline: none;
  color: #4b4b4b;
  font-size: 18px;
  font-family: 'MuseoSansCyrl-500';
}
input[type='password']::placeholder {
  color: #4b4b4b;
}
/*# sourceMappingURL=style.css.map */