@color_1: white;
@color_2: #fff;
@color_3: #f9d554;
@color_4: #000;
@color_5: #a6a6a6;
@color_6: #202020;
@color_7: #000000;
@color_8: #4b4b4b;
@font_family_1: 'MuseoSansCyrl-500';
@font_family_2: 'MuseoSansCyrl-900';
@font_family_3: "MuseoSansCyrl-300";
@font_family_4: 'MuseoSansCyrl-300';
@background_color_1: #202020;
@background_color_2: rgba(0, 0, 0, 0.5);
@background_color_3: #000000;
@background_color_4: #292929;
@background_color_5: rgba(0, 0, 0, 0.2);
@background_color_6: #f0eded;
@background_color_7: rgba(0, 0, 0, 0.6);
@background_color_8: white;
@background_color_9: #4b4b4b;
@background_color_10: #fff;

/*
input[type='text']:focus {
    border: 1px solid #4b4b4b;
}
*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 300px;
  h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: @font_family_2;
  }
  h2 {
    font-size: 70px;
    font-family: @font_family_2;
    color: white;
  }
  h3 {
    font-size: 45px;
    font-family: @font_family_1;
    color: white;
  }
  h4 {
    font-size: 30px;
    font-family: @font_family_1;
    color: white;
  }
  a {
    text-decoration: none;
    transition: 0.3s;
    color: @color_2;
  }
  p {
    color: @color_2;
    line-height: 24px;
    .pag{
      padding: 10px;
    }
  }
  img {
    max-width: 100%;
  }
  li {
    list-style-type: none; /* Убираем маркеры */
  }
  ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
}
.wrapper {
  .index {
    background-color: #202020;
  }
}
.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: @font_family_1;
  font-size: 16px;
}
ul.list {
  padding-left: 20px;
  li {
    list-style: disc;
  }
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.flex.al_center {
  align-items: center;
}
.center {
  text-align: center;
}
.wrapper.index {
  header {
    background-color: #202020;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 99;
    top: 0;
    .container {
      padding: 15px 0 0;
    }
    .block {
      width: 100%;
      max-width: 800px;
    }
  }
}
.login {
  li {
    a {
      display: block;
      color: @color_2;
      font-size: 20px;
      font-family: @font_family_2;
      &:hover {
        color: @color_3;
      }
    }
  }
}
.menu {
  li {
    a {
      display: block;
      color: @color_2;
      font-size: 20px;
      font-family: @font_family_2;
      &:hover {
        color: @color_3;
      }
    }
  }
}
header {
  .menu {
    flex-grow: 4;
  }
  .login {
    flex-grow: 1;
    margin-left: 50px;
  }
}
.gold {
  background-image: linear-gradient(to top, #b7862e 0%, #f9d554 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div_1 {
  background: url(../images/div_1_bg.png) no-repeat center;
  background-size: cover;
  padding: 170px 0 90px;
  .block-1 {
    padding: 0px;
    max-width: 450px;
    margin-bottom: 50px;
    h4 {
      padding-bottom: 30px;
    }
    .form {
      margin-top: 20px;
      h4 {
        color: @color_3;
      }
      .button {
        max-width: 150px;
        margin: 0;
        margin-left: -50px;
      }
      input[type='text'] {
        padding-right: 60px;
        margin: 0;
      }
    }
    form {
      flex-wrap: nowrap;
    }
  }
  .block-2 {
    max-width: 580px;
    .row {
      .button {
        max-width: 165px;
        margin: 15px auto 0;
        border: 1px solid #f9d554;
        background: none;
        color: @color_3;
        &:hover {
          background: #f9d554;
          color: @color_4;
        }
      }
      margin: 35px 0;
      .col {
        width: 240px;
        text-align: center;
      }
    }
    h3 {
      color: @color_3;
      margin-bottom: 15px;
    }
    h4 {
      color: @color_2;
    }
  }
  .block {
    border: 1px solid rgba(249, 213, 84, 0.5);
    margin-bottom: 50px;
    .blockback {
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.5);
      >.button {
        margin: auto;
        height: 55px;
      }
    }
  }
}
.social {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(249, 213, 84, 0.5);
    border-radius: 100%;
    &:hover {
      border: 1px solid #fff;
      img {
        filter: brightness(100);
      }
    }
  }
}
.div_2 {
  padding: 90px 0;
  .text_block {
    max-width: 700px;
    h4{
      font-size: 19px;
    }
  }
  .video {
    padding-left: 30px;
    width:auto;
    position: relative;
    .block {
      position: relative;
      z-index: 3;
    }
  }
}
.text {
  h4 {
    color: @color_5;
  }
}
.div_3 {
  background: url(../images/div_3_bg.png) no-repeat center;
  background-size: cover;
  padding: 100px 0;
  .title {
    justify-content: flex-end;
    h2 {

           //max-width: 600px;
           text-align: right;
         }
  }
  .blocks {
    align-items: stretch;
    justify-content: center;
    margin: 30px 0 0;
    .block {
      max-width: 350px;
      border: 2px solid rgba(249, 213, 84, 0.8);
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin: 0 20px;
      margin-bottom: 30px;
      color: @color_1;
      p {
        padding-bottom: 10px;
      }
      h4 {
        color: @color_3;
        padding-bottom: 10px;
        text-align: center;
      }
    }
  }
}
.div_4 {
  padding: 90px 0 30px;
  background: url(../images/div_4_bg.png) no-repeat center;
  background-size: cover;
  .container {
    align-items: center;
  }
  .text {
    h4 {
      color: @color_5;
      font-size: 24px
    }
    margin-bottom: 30px;
  } 
  .block-1 {
    max-width: 100%;
    margin-bottom: 30px;
    h2{
       font-size: 28px; 
    }
  }
  .block-2 {
    width: 21%;
    max-width: 155px;
    min-width: 155px;

    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 116px;
      height: 160px;
      border-bottom: 1px solid rgba(249, 213, 84, 0.5);
      border-left: 1px solid rgba(249, 213, 84, 0.5);
      z-index: 1;
      display: block;
      bottom: 0px;
      left: 0px;
    }
    &::after {
      position: absolute;
      content: '';
      width: 116px;
      height: 160px;
      border-right: 1px solid rgba(249, 213, 84, 0.5);
      border-top: 1px solid rgba(249, 213, 84, 0.5);
      z-index: 1;
      display: block;
      top: 0px;
      right: 0px;
    }
    .block {
      width: 100%;
      position: relative;
      z-index: 2;
    }
    h4 {
      color: @color_3; 
      font-size: 18px;
      text-align: center;
      width: 90%;
      margin: auto;
    }
    img {
      max-width: 50%;
    }
    .img {
      height: 110px;
      margin-bottom: 20px;
    }
  }
}
.div_5 {
  padding: 90px 0 30px;
  .block-1 {
    max-width: 650px;
    margin-bottom: 30px;
    .text {
      margin: 30px 0;
    }
  }
  .text {
    span {
      color: @color_3;
      font-family: @font_family_2;
    }
  }
  .block-2 {
    max-width: 510px;
    width: 100%;
    .block {
      max-width: 220px;
      margin-bottom: 30px;
    }
    .img {
      margin-bottom: 30px;
    }
  }
}
.div_6 {
  padding: 90px 0 30px;
  //background-color: rgba(0, 0, 0, 0.5);
  background: url(../images/stars.png) no-repeat center;
  background-size: cover;
  .title {
    justify-content: flex-end;
    h2 {
      max-width: 600px;
      text-align: right;
    }
  }
  .blocks {
    justify-content: flex-end;
    margin: 60px 0;
    .block {
      margin-left: 20px;
      margin-bottom: 20px;
      &:first-child {
        margin-left: 0;
      }
      h4 {
        text-align: center;
        color: @color_3;
      }
      p{
        padding: 20px;
      }
      .img {
        width: 260px;
        height: 282px;
	background-color: #000000;
        border: 1px solid rgba(249, 213, 84, 0.5);
        position: relative;
        margin-bottom: 30px;
        img {
          padding: 1px;
	}
	li {
	  font-size: 20px;	
	}
        .text {
          position: absolute;
          padding: 20px;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(0, 0, 0, 0.9);
          opacity: 0;
          transition: 0.5s;
          cursor: pointer;
        }
        .text.active {
          opacity: 1;
          background: rgba(36, 36, 36, 0.75);
        }
      }
    }
  }
}
.div_7 {
  padding: 90px 0 30px;
  .blocks {
    .block {
      margin: 60px 0;
      width: 210px;
      min-height: 120px;
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 160px;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        z-index: 1;
        display: block;
        bottom: 0px;
        left: 0px;
      }
      &::after {
        position: absolute;
        content: '';
        width: 160px;
        height: 100%;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        z-index: 1;
        display: block;
        top: 0px;
        right: 0px;
      }
      span {
        color: @color_3;
        font-family: @font_family_2;
      }
    }
  }
  .diagrams {
    justify-content: space-around;
    .block {
      text-align: center;
      width: 100%;
      max-width: 380px;
      margin-bottom: 60px;
      position: relative;
      cursor: pointer;
      .img {
        position: relative;
        z-index: 1;
      }
      .text.active {
        opacity: 1;
        bottom: -40%;
      }
      .text {
        position: absolute;
        border: 1px solid rgba(249, 213, 84, 0.5);
        background-color: @background_color_3;
        padding: 20px;
        width: 100%;
        bottom: 0;
        opacity: 0;
        transition: 0.5s;
        z-index: 2;
      }
      h4 {
        margin-bottom: 30px;
      }
    }
  }
}
.div_8 {
  padding: 90px 0 30px;
  background-color: #292929;
  .roadmap {
    margin-top: 50px;
    width: 100%;
    .blocks {
      padding: 0 100px;
      padding-top: 50px;
    }
    .row {
      align-items: stretch;
      position: relative;
      justify-content: center;
      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border: 1px solid #f9d554;
      }
      &:nth-child(odd) {
        &::after {
          border-left: none;
          right: -100px;
          border-radius: 0 200px 200px 0;
        }
      }
      &:nth-child(even) {
        top: -1px;
        &::after {
          border-right: none;
          left: -100px;
          border-radius: 200px 0 0 200px;
        }
      }
      &:last-child {
        &::after {
          border: none;
        }
      }
      .col {
        width: 120px;
        text-align: center;
        margin-right: 150px;
        margin-bottom: 80px;
        margin-top: -40px;
        z-index: 99;
        &:last-child {
          margin-right: 0;
        }
        .img {
          margin-bottom: 15px;
        }
        p {
          span {
            font-family: @font_family_2;
            color: @color_3;
          }
        }
      }
    }
  }
}
.div_9 {
  padding: 90px 0;
  background: url(../images/div_9_bg.png) no-repeat center;
  background-size: cover;
  .title {
    margin-bottom: 30px;
  }
  .block {
    width: 100%;
    max-width: 600px;
    .social {
      margin: 30px 0;
    }
    .form {
      border: 1px solid rgba(249, 213, 84, 0.5);
      max-width: 450px;
      padding: 30px;
      background: rgba(0, 0, 0, 0.7);
      h3 {
        color: @color_3;
      }
      form {
        max-width: 280px;
        margin: auto;
        .button {
          max-width: inherit;
        }
      }
    }
  }
}
footer {
  background-color: #202020;
  .container {
    padding: 20px 0;
    .menu {
      width: 100%;
      max-width: 650px;
    }
  }
}
.wrapper.page {
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header {
    position: relative;
    .container {
      padding: 60px 0 20px;
      a {
        font-size: 20px;
        font-family: @font_family_2;
        &:hover {
          color: @color_3;
        }
      }
    }
  }
  .content {
    .form {
      max-width: 449px;
      margin: 30px auto;
      border: 1px solid rgba(249, 213, 84, 0.5);
      background-color: @background_color_5;
      text-align: center;
      padding: 30px;
      h3 {
        color: @color_3;
        padding-bottom: 10px;
      }
      form {
        max-width: 280px;
        margin: 15px auto 0;
      }
      .row {
        margin-top: 30px;
        a {
          &:hover {
            color: @color_3;
          }
        }
      }
      .button {
        max-width: 130px;
      }
      .button.button-2 {
        border: 1px solid #f9d554;
        background: none;
        color: @color_3;
        &:hover {
          background-image: linear-gradient(to top, #b7862e 0%, #f9d554 50%);
          color: @color_4;
        }
      }
    }
    .forgot {
      h4 {
        color: @color_3;
      }
      form {
        flex-wrap: nowrap;
        max-width: 450px;
        margin: 25px 0;
        .button {
          max-width: 150px;
          margin: 0;
          margin-left: -50px;
        }
        input[type='text'] {
          padding-right: 60px;
          margin: 0;
        }
      }
    }
  }
}
.form {
  .button.center {
    margin: 10px auto;
  }
}
.wrapper.page2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @background_color_6;
  header {
    background: url(../images/bg.png) no-repeat center;
    background-size: cover;
    .container {
      padding: 20px 0;
      .login {
        max-width: 200px;
        margin: 10px 0;
      }
    }
  }
  .content {
    h3 {
      color: @color_3;
    }
    p {
      color: @color_6;
      font-size: 20px;
      font-family: @font_family_3;
      padding: 5px 0;
    }
    .text {
      margin: 20px 0;
    }
    .button {
      max-width: 130px;
    }
    .form {
      max-width: 549px;
      margin: 30px auto;
      border: 1px solid rgba(249, 213, 84, 0.5);
      text-align: center;
      padding: 30px;
      input[type='text'] {
        max-width: 450px;
      }
      input[type='password'] {
        max-width: 450px;
      }
    }
  }
}
.newsletter {
  padding: 20px 0;
  max-width: 450px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  label {
    flex-basis: auto;
    font-size: 20px;
  }
}
.back-top {
  position: fixed;
  bottom: 50px;
  right: 5%;
  z-index: 9999;
  background: url(../images/back.svg) no-repeat 0px;
  background-size: 100%;
  display: block;
  height: 50px;
  width: 50px;
  opacity: 0;
  transition: 0.5s;
  fill: #ff0000;
  pointer-events: none;
}
.back-top.active {
  opacity: 0.8;
  cursor: pointer;
  pointer-events: all;
  &:hover {
    opacity: 1;
  }
}
.overlay {
  background-color: @background_color_7;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10000;
}
.nonebox {
  position: fixed;
  top: -350px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: @color_7;
  width: 90%;
  max-width: 420px;
  height: auto;
  z-index: 99999;
  text-align: center;
  border-radius: 5px;
  background-color: @background_color_8;
  padding: 25px;
  font-family: @font_family_4;
  box-sizing: border-box;
  .button {
    margin: 10px auto;
  }
}
.box-close {
  width: 18px;
  height: 18px;
  background: url('../images/close.png') no-repeat center;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 9px;
  right: 9px;
}
.button {
  width: 100%;
  text-align: center;
  max-width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 27px;
  background-color: @background_color_9;
  background-image: -webkit-linear-gradient(bottom, #b7862e 0%, #f9d554 100%);
  background-image: -o-linear-gradient(bottom, #b7862e 0%, #f9d554 100%);
  background-image: linear-gradient(to top, #b7862e 0%, #f9d554 100%);
  margin: 10px 0;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  color: @color_4;
  -webkit-appearance: none;
  font-family: @font_family_1;
  &:hover {
    background-image: -webkit-linear-gradient(bottom, #b7862e 100%, #f9d554 10%);
    background-image: -o-linear-gradient(bottom, #b7862e 100%, #f9d554 10%);
    background-image: linear-gradient(to top, #b7862e 0%, #f9d554 50%);
  }
}
input[type='text'] {
  max-width: 370px;
  width: 100%;
  min-width: 200px;
  height: 45px;
  border-radius: 27px;
  border: none;
  background-color: @background_color_10;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 0 15px;
  outline: none;
  color: @color_8;
  font-size: 18px;
  font-family: @font_family_1;
  &::placeholder {
    color: @color_8;
  }
}
input[type='password'] {
  max-width: 370px;
  width: 100%;
  min-width: 200px;
  height: 45px;
  border-radius: 27px;
  border: none;
  background-color: @background_color_10;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 0 15px;
  outline: none;
  color: @color_8;
  font-size: 18px;
  font-family: @font_family_1;
  &::placeholder {
    color: @color_8;
  }
}
