/********************* TOGGLE MENU **********************/
/* menu appearance*/
.cmn-toggle-switch {
  display: none;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 50px;
  font-size: 0;
  top: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 9999;
  background-color: #f9d554;
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 25px;
  left: 15%;
  right: 15%;
  height: 2px;
  background: white;
  -webkit-transition: background 0s .3s;
  transition: background 0s .3s;
}
.cmn-toggle-switch span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
  top: -10px;
  -webkit-transition-duration: .3s, .3s;
  transition-duration: .3s, .3s;
  -webkit-transition-delay: .3s, 0s;
  transition-delay: .3s, 0s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
  bottom: -10px;
  -webkit-transition-duration: .3s, .3s;
  transition-duration: .3s, .3s;
  -webkit-transition-delay: .3s, 0s;
  transition-delay: .3s, 0s;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
.cmn-toggle-switch.active {
  background-color: #cb0032;
}
.cmn-toggle-switch.active span {
  background: 0 0;
}
.cmn-toggle-switch.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, .3s;
  transition-delay: 0s, .3s;
}
.cmn-toggle-switch.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, .3s;
  transition-delay: 0s, .3s;
}
#menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  color: #000000;
  background-color: #4a4a4a;
  z-index: 9998;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: top 0.5s;
  transition: 0.5s;
  overflow: auto;
  padding-top: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#menu ul {
  width: 70%;
  margin: 0 auto;
  margin-top: 0px;
}
#menu li {
  text-decoration: none;
}
#menu li a {
  font-family: 'MuseoSansCyrl-500';
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  color: white;
}
#menu li a:hover {
  color: #f9d554;
}
@media only screen and (max-width: 992px) {
  .cmn-toggle-switch {
    display: block;
  }
  #menu ul li {
    padding: 10px 0;
  }
  .main-menu {
    display: none;
    padding: 0;
    margin: 0;
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #wrapper {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
  }
  .move #menu {
    left: 0;
  }
  .move #wrapper {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    transform: translateX(50%);
  }
}
@media only screen and (max-width: 460px) {
  #menu ul {
    text-align: center;
    width: 100%;
  }
}
/*# sourceMappingURL=style-menu.css.map */