@color_1: #000000;
@color_2: white;
@color_3: #f9d554;
@font_family_1: 'MuseoSansCyrl-500';
@background_color_1: #fff;
@background_color_2: #f9d554;
@background_color_3: #cb0032;
@background_color_4: #4a4a4a;

/********************* TOGGLE MENU **********************/
/* menu appearance*/
.cmn-toggle-switch {
  display: none;
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 50px;
  font-size: 0;
  top: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 9999;
  background-color: @background_color_2;
  &:focus {
    outline: none;
  }
  span {
    display: block;
    position: absolute;
    top: 25px;
    left: 15%;
    right: 15%;
    height: 2px;
    background: white;
    -webkit-transition: background 0s .3s;
    transition: background 0s .3s;
    &::before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: @background_color_1;
      content: "";
      top: -10px;
      -webkit-transition-duration: .3s, .3s;
      transition-duration: .3s, .3s;
      -webkit-transition-delay: .3s, 0s;
      transition-delay: .3s, 0s;
      -webkit-transition-property: top, -webkit-transform;
      transition-property: top, transform;
    }
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: @background_color_1;
      content: "";
      bottom: -10px;
      -webkit-transition-duration: .3s, .3s;
      transition-duration: .3s, .3s;
      -webkit-transition-delay: .3s, 0s;
      transition-delay: .3s, 0s;
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform;
    }
  }
}
.cmn-toggle-switch.active {
  background-color: @background_color_3;
  span {
    background: 0 0;
    &::before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition-delay: 0s, .3s;
      transition-delay: 0s, .3s;
    }
    &::after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition-delay: 0s, .3s;
      transition-delay: 0s, .3s;
    }
  }
}
#menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  color: @color_1;
  background-color: @background_color_4;
  z-index: 9998;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: top 0.5s;
  transition: 0.5s;
  overflow: auto;
  padding-top: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ul {
    width: 70%;
    margin: 0 auto;
    margin-top: 0px;
  }
  li {
    a {
      font-family: @font_family_1;
      font-size: 20px;
      text-decoration: none;
      font-weight: 400;
      color: @color_2;
      &:hover {
        color: @color_3;
      }
    }
    text-decoration: none;
  }
}
@media only screen and (max-width: 992px) {
  .cmn-toggle-switch {
    display: block;
  }
  #menu {
    ul {
      li {
        padding: 10px 0;
      }
    }
  }
  .main-menu {
    display: none;
    padding: 0;
    margin: 0;
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #wrapper {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
  }
  .move {
    #menu {
      left: 0;
    }
    #wrapper {
      -webkit-transform: translateX(50%);
      -moz-transform: translateX(50%);
      transform: translateX(50%);
    }
  }
}
@media only screen and (max-width: 460px) {
  #menu {
    ul {
      text-align: center;
      width: 100%;
    }
  }
}