<style scoped>
    .about {
        margin: 10px 20px 0 30px;
        color: black;
    }
    h1{
        margin-top:10%;
        font-size: 100px;
        color: #19be6b;
        text-align: center;
    }
</style>
<template>
    <div class="about">
        <h1>Amastar-Dashboard</h1>
    </div>
</template>
<script>
    export default {
    }
</script>