<style scoped lang="less">
    @import '../styles/style';
    @import '../styles/style-menu';
</style>

<template>
    <div class="wrapper page2" background-color="black">
        <!-- header -->
        <header>
            <div class="container flex al_center">
                <div class="container flex al_center">
                    <a href="/">Go back to AmaStar</a>
                </div>
                <ul class="login flex">
                    <li><a href="/" @click="this.localStorage.setItem('email', '')">Log out</a></li>
                </ul>
            </div>
        </header>

        <button class=" cmn-toggle-switch cmn-toggle-switch__htx">
            <span>menu</span>
        </button>
        <!-- end header -->

        <!-- content -->
        <section class="content">
            <div class="container">
                <div class="block">
                    <h3>Your detalis</h3>
                    <div class="text">
                        <p>Name: {{name}}</p>
                        <p>Email: {{email}}</p>
                        <p>Country: {{country}}</p>
                        <p>Contribution amount: {{amount}} ETH</p>
                    </div>
                    <a href="/update" class="button">Edit</a>
                </div>
            </div>
        </section>
        <!-- end content -->

        <!-- footer -->
        <footer>
            <div class="container flex al_center">
                <div class="logo">
                    <a href="/"><img src="../images/logo.png" alt=""></a>
                </div>
            </div>
        </footer>

    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "details",
        data() {
            return {
                name: '',
                country: '',
                amount: 0,
                email: ''
            }
        },
        async mounted() {
            try {
                const response = await axios.get('https://' + window.location.hostname + ':3000/api/findUser', {
                    params: {
                        email: localStorage.getItem('email')
                    }
                })
                console.log(response)
                if (response.data.data.length > 0) {
                    this.name = response.data.data[0].name;
                    this.country = response.data.data[0].country;
                    this.amount = response.data.data[0].amount;
                    this.email = response.data.data[0].email;
                }
            } catch  (error) {
                console.error(error);
            }

        }
    }
</script>
