<style scoped lang="less">
    @import '../styles/style';
    @import '../styles/style-menu';
</style>

<template>
    <div class="wrapper page">
        <!-- header -->
        <header>
            <header>
                <div class="container flex al_center">
                    <a href="/">Go back to AmaStar</a>
                </div>
            </header>
        </header>

        <button class=" cmn-toggle-switch cmn-toggle-switch__htx">
            <span>menu</span>
        </button>
        <!-- end header -->

        <!-- content -->
        <section class="content">
            <div class="container">
                <div class="forgot">
                    <h4>Forgot your password</h4>
                    <form id="form-2" class="flex">
                        <input name="mail" placeholder="Enter your email address" required type="text" v-model="email">
                        <input name="ok" value="Enter" class="button" v-on:click="submit">
                    </form>
                </div>
            </div>
        </section>
        <!-- end content -->

        <!-- footer -->

        <footer>
            <div class="container flex al_center">
                <div class="logo">
                    <a href="/"><img src="../images/logo.png" alt=""></a>
                </div>
            </div>
        </footer>

    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "forgot",
        data() {
            return {
                email: '',
            }
        },
        methods: {
            async submit() {
                if (this.email === '') {
                    this.$Modal.error({
                        tittle: "ERROR",
                        content: '<b2>Email was not be empty</b2>',
                        okText: 'OK',
                    });
                } else {
                    try {
                        const response = await axios.get('https://' + window.location.hostname + ':3000/api/verifyPass', {
                            params: {
                                email: this.email,
                            }
                        })
                        this.$router.push({path: '/sendPass'})
                    } catch  (error) {
                        console.error(error);
                    }
                }
            }
        }
    };
</script>
