<style scoped>
    .form {
        width: 50%;
    }
</style>

<template>

    <div class="form">

        <Button @click="update">Update</Button>

        <Table border :columns="columns7" :data="data6" no-data-text="No data"></Table>

    </div>

</template>

<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                data6: this.gettable(),
                columns7: [
                    {
                        title: 'email',
                        key: 'email',
                        sortable: true
                    },
                    {
                        title: 'Operation',
                        key: 'action',
                        width: 150,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.remove(params.row.id)
                                            this.data6.splice(params.row.id, 1);
                                        }
                                    }
                                }, 'delete')
                            ]);
                        }
                    }
                ],
                }
        },
        methods: {

            async update () {
                try {
                    let data = {}
                    const response = await axios.get('https://' + window.location.hostname + ':3000/api/subs');

                    this.data6 =  response.data.data
                } catch (error) {
                    console.log(error)
                }
            },
            gettable () {
                try {
                    let data = {}
                    const response = axios.get('https://' + window.location.hostname + ':3000/api/subs');
                    return response.data.data
                } catch (error) {
                    console.log(error)
                }
            },
            remove (index) {
                try {
                    const response = axios.delete('https://' + window.location.hostname + ':3000/api/sub?id='+ index);
                    console.log(response.data.data)
                } catch (error) {
                    console.log(error)
                }
                this.data6.splice(index, 1);
            }
        },
        activated: function () {
            this.data6 = this.gettable()
        }

    }
</script>
