<style scoped lang="less">
    @import '../styles/style';
    @import '../styles/style-menu';
    @import "../styles/media";
</style>

<template>
    <div class="wrapper index">
        <!-- header -->
        <header>
            <div class="container flex al_center">
                <div class="logo">
                    <a href="/"><img src="../images/logo.png" alt=""></a>
                </div>
                <div class="block flex">
                    <ul class="menu flex al_center">
                        <li><a href="#about" v-smooth-scroll>About</a></li>
                        <li><a href="#team" v-smooth-scroll>Team</a></li>
                        <li><a href="#roadmap" v-smooth-scroll>Roadmap</a></li>
			<li><a href="../../dist/Whitepaper.pdf">Whitepaper</a></li> 
                        <li><a href="#contact" v-smooth-scroll>Contact</a></li>

                    </ul>
                    <ul class="login flex">
                        <li v-if="user"><a href="details">Cabinet</a></li>
                        <li v-if="!user"><a href="login">Login</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <button class=" cmn-toggle-switch cmn-toggle-switch__htx">
            <span>menu</span>
        </button>

        <!-- content -->
        <section class="content">
            <div class="div_1">
                <div class="container flex al_center">
                    <div class="block-1">
                        <h1 class="gold">AMASTAR</h1>
                        <h4>A blockchain-based platform where you EARN FOR PORN</h4>
                        <div class="form">
                            <h4>Get the latest news</h4>
                            <form id="form" class="flex">
                                <input name="mail" placeholder="Enter your email address" required type="text" v-model="email">
                                <input name="ok" value="Subscribe" class="button" v-on:click="submit()">
                            </form>
                        </div>
                    </div>
                    <div class="block-2">
                        <div class="block">
                            <div class="blockback">
                                <h3>Private pre-sale now live</h3>
                                <h4>Public pre-sale starts in {{ theTime.days }} days {{ theTime.hours }} hours {{ theTime.minutes }} minutes</h4>
                                <div class="row flex">
                                    <div class="col">
                                        <h4>1 AS = $0,10</h4>
                                        <button class="button" v-on:click="showWhitepaper">Whitepaper</button>
                                    </div>
                                    <div class="col">
                                        <h4>Bonus from 20%</h4>
                                        <button class="button" v-on:click="showTerms">Terms of Sale</button>
                                    </div>
                                </div>
                                <button class="button" v-on:click="register">Apply for whitelist</button>
                            </div>
                        </div>
                        <div class="social flex al_center">
                            <a href="https://t.me/amastar"><img src="../images/telegram.png" alt=""></a>
                            <a href="https://twitter.com/AmastarOfficial"><img src="../images/twitter.png" alt=""></a>
                            <a href="https://www.facebook.com/amastarofficial/"><img src="../images/facebook.png" alt=""></a>
                            <a href="https://medium.com/@amastar"><img src="../images/medium.png" alt=""></a>
                            <a href=""><img src="../images/bitcoin.png" alt=""></a>
                            <a href="https://www.linkedin.com/company/amastar-official/"><img src="../images/linkedin.png" alt=""></a>
                            <a href=""><img src="../images/reddit.png" alt=""></a> 
                        </div>
                    </div>
                </div>
            </div>

            <div id="about" class="div_2">
                <div class="container flex">
                    <div class="text_block">
                        <div class="title">
                            <h2>About AmaStar</h2>
                        </div>
                        <div class="text">
                            <h4>AmaStar is a blockchain-based platform where anyone can upload their own content - and get paid for it! Our unique algorithm will calculate the reward for each content piece based on its popularity. Complete transparency achieved by blockchain - 90% of ad revenue is paid out to content makers. </h4>
                        </div>
                    </div>
                    <div class="video">
                        <div class="block img">
                            <img src="../images/v1.png" width="400" walt="">
                            <img src="../images/v2.png" width="400" alt="">
                            <img src="../images/v3.png" width="400" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="div_4">
                <div class="container flex">
                    <div class="text_block">
                        <div class="title">
                            <h2>Why blockchain</h2>
                        </div>
                        <div class="text" style="font-size:12px">
			   <h4>Due to its transparency and guarantee of complete fulfilment of conditions enabled by smart contracts, blockchain is a breakthrough solution for the adult entertainment industry. Applying blockchain will guarantee that content makers receive exactly how much they deserve and provide complete transparency of the financial model of the company. We will develop our own blockchain platform with no commissions and high volume of transactions, allowing for efficient distribution of coins. Smart contracts will eliminate any human errors and make using the platform safe and enjoyable for everyone.</h4>
                        </div>
                    </div>    
                    <div class="block-1">
                        <div class="title flex">
                            <h2>Platform features</h2>
                        </div>
                    </div>
		    <div class="blocks flex">
                    <div class="block-2">
                        <div class="block">
                            <div class="img">
                                <img src="../images/01.png" alt="">
                            </div>
                            <h4>Blockchain-powered</h4>
                        </div>
                    </div>
                    <div class="block-2">
                        <div class="block">
                            <div class="img">
                                <img src="../images/02.png" alt="">
                            </div>
                            <h4>User-oriented</h4>
                        </div>
                    </div>
                    <div class="block-2">
                        <div class="block">
                            <div class="img">
                                <img src="../images/03.png" alt="">
                            </div>
                            <h4>Completely transparent</h4>
                        </div>
                    </div>
                    <div class="block-2">
                        <div class="block">
                            <div class="img">
                                <img src="../images/04.png" alt="">
                            </div>
                            <h4>Totally anonymous</h4>
                        </div>
                    </div>
                    <div class="block-2">
                        <div class="block">
                            <div class="img">
                                <img src="../images/05.png" alt="">
                            </div>
                            <h4>Secure & reliable</h4>
                        </div>
                    </div>
                    <div class="block-2">
                        <div class="block">
                            <div class="img">
                                <img src="../images/06.png" alt="">
                            </div>
                            <h4>Fully automatized</h4>
                        </div>
                    </div>
		    </div>
		    <div class="block-1">
                        <div class="title flex">
                            <h2>How it works</h2>
                        </div>
                    </div>             
		</div>
            </div>  

            <div class="div_3">
                <div class="container">
                    <div class="title flex">
                        <h2>One platform for all your adult entertainment</h2>
                    </div>
                    <div class="blocks flex">
                        <div class="block">
                            <h4>Photos</h4>
                            <p>Browse a personaliяed feed of amateur nudes based on your preferences</p>
                            <p>Sort by various filters to find exactly what you want to see</p>
                            <p>Upload your own photos and get paid when people like it</p>
                        </div>
                        <div class="block">
                            <h4>Videos</h4>
                            <p>Watch unlimited unique amateur videos from any category, for free</p>
                            <p>Find exactly what you want by applying as many filters as you like</p>
                            <p>Share your own home videos and receive tokens when others watch them</p>
                        </div>
                        <div class="block">
                            <h4>Live chats</h4>
                            <p>Find ladies being naughty and watch them in real time</p>
                            <p>Ask for a private live show just for you</p>
                            <p>Let others watch you live and get paid for every view</p>
                        </div>
                        <div class="block">
                            <h4>Stories</h4>
                            <p>Read erotic sex stories and secret confessions</p>
                            <p>Ask for a specific story just for you from your favorite author</p>
                            <p>Share your fantasies and get paid when others read them</p>
                        </div>
                        <div class="block">
                            <h4>Games</h4>
                            <p class="pag">Play free pornographic flash games with no restrictions</p>
                            <p class="pag">Upload your own games and earn when others play</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div_7">
                <div class="container">
                    <div class="title flex">
                        <h2>Tokensale</h2>
                    </div>
                    <div class="blocks flex al_center">
                        <div class="block">
                            <h4><span>$500k</span></h4>
                            <h4>Soft cap</h4>
                        </div>
                        <div class="block">
                            <h4><span>$8mln</span></h4>
                            <h4>Hard cap</h4>
                        </div>
                        <div class="block">
                            <h4><span>150mln</span></h4>
                            <h4>Token supply</h4>
                        </div>
                        <div class="block">
                            <h4><span>$0.10</span></h4>
                            <h4>Token price</h4>
                        </div>
                        <div class="block">
                            <h4><span>AS</span></h4>
                            <h4>Symbol</h4>
                        </div>
                    </div>
                    <div class="diagrams flex">
                        <div class="block open_text">
                            <h4>Token distribution</h4>
                            <pie-chart suffix="%" tooltips="{enabled:false}"
				:legend="false" 
				:colors="['#f9d554','#c8c8c8', '#a0a0a0', '#808080', '#404040']" 
				:data="[['Pre-ICO and ICO', 60],['Advisors, founders and team',15],['User reward fund',10],['Operations',10],['Bounty and AirDrop',5]]"></pie-chart>
                        </div>
                        <div class="block open_text">
                            <h4>Fund allocation</h4>
                            <pie-chart suffix="%"
				:legend="false" 
				:colors="['#f9d554','#c8c8c8', '#a0a0a0', '#808080', '#404040']" 
				:data="[['Marketing', 35], ['Platform development', 35], ['Operations', 25],['Legal and administration',5]]"></pie-chart>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div_5">
                <div class="container flex">
                    <div class="block-1">
                        <div class="title">
                            <h2 class="gold">Premium account - enjoy all the perks</h2>
                        </div>
                        <div class="text text-1">
                            <h4>Participate in ICO to receive a free premium account trial</h4>
                        </div>
                        <div class="text text-2">
                            <h4>Contribute 1-10 ETH - <span>3 months</span></h4>
                            <h4>Contribute 10-50 ETH - <span>6 month </span></h4>
                            <h4>Contribute from 50 ETH - <span>1 year</span></h4>
                        </div>
                        <div class="text text-3">
                            <p>Premium account features:</p>
                            <p>- Watch with no ads </p>
                            <p>- Contact any member directly</p>
                            <p>- Ask for personalized content just for you</p>
                            <p>- Unlimited access to private chats </p>
                        </div>
                    </div>
                    <div class="block-2 flex">
                        <div class="block">
                            <div class="img">
                                <img src="../images/div_5_img-1.png" alt="">
                            </div>
                            <div class="text">
                                <p><span>VIP members Contribute over $10k</span></p>
                                <p>- receive invitations to our annual AmaStar parties. Beautiful ladies, food and drinks are on us!</p>
                            </div>
                        </div>
                        <div class="block">
                            <div class="img">
                                <img src="../images/div_5_img-2.png" alt="">
                            </div>
                            <div class="text">
                                <p><span>VIP members Contribute over $50k</span></p>
                                <p>- receive invitations to our private AmaStar parties on yachts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="team" class="div_6">
                <div class="container">
                    <div class="title flex">
                        <h2>CORE TEAM</h2>
                    </div>
                    <div class="blocks flex">
                        <div class="block">
                            <div class="img open_text" @mouseenter="showCEO = true" @mouseleave="showCEO = false">
                                <img src="../images/3.jpg" alt="" v-if="!showCEO">
                                <p v-if="showCEO">
				<ul class="menu flex al_center">
				<li>Valeria Hastings</li>
				</ul>
				<br><br>
                                Accomplished professional with extensive experience in promotion and development of ICOs and crypto projects.<br><br>
                                <ul class="menu flex al_center">
                                <li><a href="www.linkedin.com/in/valeria-hastings"><img src="../images/linkedin.png" alt=""></a></li>
                                </ul>
                                </p>
                            </div>
                            <h4>СEO</h4>
                        </div> 

                        <div class="block">
                            <div class="img open_text" @mouseenter="showCTO = true" @mouseleave="showCTO = false">
                                <img src="../images/1.png" alt="" v-if="!showCTO">
                                <!--<div class="text">-->
                                    <p v-if="showCTO">
                                    <ul class="menu flex al_center">
                                    <li>Mikhail Novikov</li>
				    </ul><br><br>
				    IT specialist with over 15 years of experience, including blockchain-based platforms.<br><br>
			            <ul class="menu flex al_center">
				 	<li> <a href="https://www.linkedin.com/in/mikhail-novikov-710539169/"><img src="../images/linkedin.png" alt=""></a></li>
				    </ul>
				    </p>
                                <!--</div>-->
                            </div>
                            <h4>CTO</h4>
                        </div>
                        <div class="block">
                            <div class="img open_text" @mouseenter="showBDD = true" @mouseleave="showBDD = false">
                                <img src="../images/2.jpg" alt="" v-if="!showBDD">
                                <p v-if="showBDD">
                                    <ul class="menu flex al_center">
                                    <li>Dmitry Marchenkov</li>
                                    </ul><br><br>
				Seasoned professional with expertise in business strategy and investor relations.<br><br>
				<ul class="menu flex al_center"> 
                                <li><a href="https://www.linkedin.com/in/dmitry-marchenkov-b26b64169/"><img src="../images/linkedin.png" alt=""></a></li>
                                </ul>
				</p>
                            </div>
                            <h4>Business<br> Development<br> Director</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div id="roadmap" class="div_8">
                <div class="container">
                    <div class="title flex">
                        <h2>ROADMAP</h2>
                    </div>
                    <div class="roadmap">
                        <div class="blocks">
                            <div class="row flex">
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>Q1 2018</span></p>
                                        <p>Idea born, market analysis</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>Q2 2018</span></p>
                                        <p>Concept development, team formation</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>Q3 2018</span></p>
                                        <p>Private pre-sale</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>October - November 2018</span></p>
                                        <p>Pre-ICO</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex">
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>January 2019</span></p>
                                        <p>Videos added to the platform</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>December 2018</span></p>
                                        <p>ICO</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>October 2018</span></p>
                                        <p>Release of MVP</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex">
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>February 2019</span></p>
                                        <p>Live shows added to the platform</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>March 2019</span></p>
                                        <p>Release of own blockchain platform</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>May 2019</span></p>
                                        <p>Release of mobile application</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="img">
                                        <img src="../images/star.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p><span>June 2019</span></p>
                                        <p>Games added to the platform</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contact" class="div_9">
                <div class="container">
                    <div class="title flex">
                        <h2>Contact us</h2>
                    </div>
                    <div class="block">
                        <h4>Get in touch and say hi</h4>
                        <div class="social flex al_center">
                            <a href="https://t.me/amastar"><img src="../images/telegram.png" alt=""></a>
                            <a href="https://twitter.com/AmastarOfficial"><img src="../images/twitter.png" alt=""></a>
                            <a href="https://www.facebook.com/amastarofficial/"><img src="../images/facebook.png" alt=""></a>
                            <a href="https://medium.com/@amastar"><img src="../images/medium.png" alt=""></a>
                            <a href=""><img src="../images/bitcoin.png" alt=""></a>
                            <a href="https://www.linkedin.com/company/amastar-official/"><img src="../images/linkedin.png" alt=""></a>
                            <a href=""><img src="../images/reddit.png" alt=""></a> 
                        </div>
                        <div class="form">
                            <h3>Contact form</h3>
                            <form id="form-2">
                                <input name="name" placeholder="Name" required type="text" v-model="name">
                                <input name="mail" placeholder="Email address" required type="text" v-model="sendemail">
                                <input name="message" placeholder="Message" required type="text" v-model="message">
                                <input name="ok" value="Send" class="button" v-on:click="submitmail()">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- end content -->

        <!-- end footer -->


        <footer>
            <div class="container flex al_center">
                <div class="logo">
                    <a href="index.html"><img src="../images/logo.png" alt=""></a>
                </div>
                <ul class="menu flex al_center">
                    <li><a href="../../dist/Whitepaper.pdf">Whitepaper</a></li>
                    <li><a href="#about" v-smooth-scroll>About</a></li>
                    <li><a href="#team" v-smooth-scroll>Team</a></li>
                    <li><a href="#roadmap" v-smooth-scroll>Roadmap</a></li>
                </ul>
            </div>
        </footer>

        <BackTop></BackTop>

        <div id="menu">
            <ul>
                <li><img src="../images/logo.png" alt=""></li>
                <li><a href="../../dist/Whitepaper.pdf">Whitepaper</a></li>
                <li><a href="#about" v-smooth-scroll>About</a></li>
                <li><a href="#team" v-smooth-scroll>Team</a></li>
                <li><a href="#roadmap" v-smooth-scroll>Roadmap</a></li>
            </ul>
        </div>
    </div>


    <!-- END MODAL -->

</template>
<script>
    import axios from 'axios';
    export default {
        data () {
            return {
		deadline: 'Oct 15, 2018 23:59:59',
		days: 'HI',
		hours: 'TH',
		minutes: 'ER',
		expired: false,
                showBDD : false,
                showCTO : false,
                showCEO : false,
                email: '',
                sendemail: '',
                name : '',
                message : '',
                charOptions : ''
            }
        },
        methods: {
            async submit() {
                const email = this.email;
                if (this.email === '') {
                    this.$Modal.error({
                        tittle: "ERROR",
                        content: '<b2>Email was not be empty</b2>',
                        okText: 'OK',
                    });
                } else {
                    try {
                        const res = await axios.get('https://'+ window.location.hostname + ':3000/api/findsub' , {
                        params: {
                            email: email
                        }
                        })
                        console.log(res)
                        if (res.data.data.length > 0 ) {
                            this.$Modal.error({
                                tittle: "ERROR",
                                content: '<b2>Email was subscribed</b2>',
                                okText: 'OK',
                            });
                        } else {
                            try {
                                const add = await axios.post('https://'+ window.location.hostname + ':3000/api/sub',
                                    {
                                        email: email
                                    }
                                )
                                this.$Modal.success({
                                    content: '<b2>YOU was subscribed</b2>',
                                    okText: 'OK',
                                });
                            } catch (error) {
                                console.log(error);
                            }
                        }
                    } catch (error) {
                        console.log(error);
                    }
                }
                this.email = "";
            },
            register (){
                this.$router.push({ path: 'register' })
            },
            showWhitepaper (){
                {
                        location.href="./dist/Whitepaper.pdf";
                }
            },
            showTerms (){
                {
                    location.href="./dist/TermsofSale.pdf";
                }
            },
            submitmail() {
                if (this.sendemail === '') {
                    this.$Modal.error({
                        tittle: "ERROR",
                        content: '<b2>Email was not be empty</b2>',
                        okText: 'OK',
                    });
                } else if (this.name === '') {
                    this.$Modal.error({
                        tittle: "ERROR",
                        content: '<b2>Name was not be empty</b2>',
                        okText: 'OK',
                    });
                } else if (this.message == ''){
                    this.$Modal.error({
                        tittle: "ERROR",
                        content: '<b2>Message was not be empty</b2>',
                        okText: 'OK',
                    });
                } else {


                    this.$Modal.info({
                        content: '<b2>Thanks for Email</b2>',
                        okText: 'OK',
                    })
                }
            },
        },
        computed: {
            user: function () {
                return localStorage.getItem('email') !== '';
            },
            theTime() {
                var ctx = this;

// Цикл обратного отсчета
                var x = setInterval(function () {

//Разница между двумя датами
                    var countDownDate = new Date(ctx.deadline).getTime(),
                        now = new Date().getTime(),
                        diff = countDownDate - now,

// Преобразование времени в дни, часы, минуты и секунды
                        tdays = Math.floor(diff / (1000 * 60 * 60 * 24)),
                        thours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)),
                        tminutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60)),
                        tseconds = Math.floor((diff % (1000 * 60)) / 1000);

// Отображать две цифры
                    ctx.days = (tdays < 10) ? '0' + tdays : tdays;
                    ctx.hours = (thours < 10) ? '0' + thours : thours;
                    ctx.minutes = (tminutes < 10) ? '0' + tminutes : tminutes;
                    ctx.seconds = (tseconds < 10) ? '0' + tseconds : tseconds;

// Проверка истечения времени
                    if (diff < 0) {
                        clearInterval(x);
                        ctx.expired = true;
                    }
                }, 1000);

// Возвращение данных
                return {
                    days: ctx.days,
                    hours: ctx.hours,
                    minutes: ctx.minutes,
                    seconds: ctx.seconds
                };
            }
        }
    }
</script>
