<style scoped lang="less">
    @import '../styles/style';
    @import '../styles/style-menu';
</style>

<template>
    <div>
        <div class="wrapper page">
            <!-- header -->
            <header>
                <div class="container flex al_center">
                    <a href="/">Go back to AmaStar</a>
                </div>
            </header>

            <button class=" cmn-toggle-switch cmn-toggle-switch__htx">
                <span>menu</span>
            </button>
            <!-- end header -->
            <section class="content">
                <div class="container">
                    <div class="form">
                        <h3>Login</h3>
                        <p>Please provide your detalis</p>
                        <form id="form-2" class="flex">
                            <i-form ref="formInline" :model="formInline">
                                <input name="mail" placeholder="E-mail" required type="text" v-model="formInline.email">
                                <input name="pass" placeholder="Password" required type="password" v-model="formInline.passwd">

                            </i-form>
                                <input name="ok" value="Login" class="button button-2" v-on:click="handleSubmit()">
                                <!--<a href="" class="button button-2" >Login</a>-->
                                <a href="/register" class="button button-2">Register</a>

                        </form>
                        <div class="row">
                            <a href="/forgot">Forgot your password</a>
                        </div>
                    </div>
                </div>
            </section>

            <footer>
                <div class="container flex al_center">
                    <div class="logo">
                        <a href="/"><img src="../images/logo.png" alt=""></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</template>

<script>
    import axios from 'axios';
    export default {
        name: "login",
        data() {
            return {
                name: "register",
                formInline: {
                    email: '',
                    passwd: '',

                },
            }
        },
        methods: {
            async handleSubmit() {
                try {

                    const response = await axios.get('https://' + window.location.hostname + ':3000/api/login', {
                        params: {
                            email: this.formInline.email,
                            pass: this.formInline.passwd
                        }
                    })
                    console.log(response)
                    if (response.data.data.length > 0) {
                        localStorage.setItem('email', this.formInline.email);
                        this.$router.push({path: '/details'})
                    } else {
                        this.$Modal.error({
                            title: "ERROR",
                            content: '<b2>Whis email was not found. Please do registration</b2>',
                            okText: 'OK',
                        })
                    }
                } catch  (error) {
                    console.error(error);
                }
            },
        }
    }
</script>
