<style scoped lang="less">
    @import '../styles/style';
    @import '../styles/style-menu';
</style>

<template>
    <div class="wrapper page">
        <!-- header -->
        <header>
            <div class="container flex al_center">
                <a href="/">Go back to AmaStar</a>
            </div>
        </header>

        <button class=" cmn-toggle-switch cmn-toggle-switch__htx">
            <span>menu</span>
        </button>
        <!-- end header -->

        <!-- content -->
        <section class="content">
            <div class="container">
                <div class="form">
                    <h3>Register</h3>
                    <p>Please provide your detalis</p>
                    <form id="form-2">
                        <i-form ref="formInline" :model="formInline">
                            <input name="mail" placeholder="E-mail"  type="text" required v-model="formInline.email">
                            <input name="pass" placeholder="Password"  type="password" required v-model="formInline.passwd">
                            <input name="repass" placeholder="Repeat password" required type="password" v-model="formInline.passwdCheck">
                            <input name="ok" value="Register" class="button center" v-on:click="handleSubmit('formInline')">
                        </i-form>
                    </form>
                </div>
            </div>
        </section>
        <!-- end content -->

        <!-- footer -->

        <footer>
            <div class="container flex al_center">
                <div class="logo">
                    <a href="/"><img src="../images/logo.png" alt=""></a>
                </div>
            </div>
        </footer>

    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                name: "register",
                formInline: {
                    email: '',
                    passwd: '',
                    passwdCheck : ''

                },
            }
        },
        methods: {
             async handleSubmit() {
                const email = this.formInline.email
                const passwd = this.formInline.passwd
                if (this.formInline.email === '') {
                    this.$Modal.error({
                        title: "ERROR",
                        content: '<b2>Email is not be empty</b2>',
                        okText: 'OK',
                    })
                } else if (this.formInline.passwd === '') {
                    this.$Modal.error({
                        title: "ERROR",
                        content: '<b2>Password is not be empty</b2>',
                        okText: 'OK',
                    });
                } else if (this.formInline.passwd === this.formInline.passwdCheck) {
                    try {
                        const find = await axios.get('https://'+ window.location.hostname + ':3000/api/findUser' , {
                            params: {
                                email: this.formInline.email
                            }}
                        )
                        console.log(find)
                        if (find.data.data.length > 0) {
                            this.$Modal.error({
                                tittle: "ERROR",
                                content: '<b2>This Email was registered</b2>',
                                okText: 'OK',
                            });
                        } else {
                            try {
                                const response = await axios.post('https://' + window.location.hostname + ':3000/api/register/',
                                    {
                                        email: email,
                                        password: passwd
                                    })
 				try {
                                    const verify = await axios.get('https://' + window.location.hostname + ':3000/api/sendVerify/',
                                        {
                                            params: {
                                                email: email,
                                            }
                                        })
                                    this.$router.push({path: '/congrat'})
                                } catch (error) {
                                    console.log(error);
                                }
                            } catch (error) {
                                console.log(error);
                            }
                        }

                    } catch (error) {
                        console.log(error);
                    }
                } else {
                    this.$Modal.error({
                        title: "ERROR",
                        content: '<b2>Password and Repeat password is not equaly</b2>',
                        okText: 'OK',
                    });
                }
            },
        }
    }
</script>
