<style scoped lang="less">
    @import '../styles/style';
    @import '../styles/style-menu';
</style>

<template>
    <div class="wrapper page2">
        <!-- header -->
        <header>
            <div class="container flex al_center">
                <ul class="login flex">
                    <li><a href="/">Go back to AmaStar</a></li>
                </ul>
                <ul class="login flex">
                    <li><a href="/">Log out</a></li>
                </ul>
            </div>
        </header>

        <button class=" cmn-toggle-switch cmn-toggle-switch__htx">
            <span>menu</span>
        </button>
        <!-- end header -->

        <!-- content -->
        <section class="content">
            <div class="container">
                <div class="form">
                    <h3>Update your detalis</h3>
                    <p>Please provide your detalis</p>
                    <form id="form-2">
                        <input name="name" placeholder="Your full name" type="text" v-model="name">
                        <input name="country" placeholder="Сountry" type="text" v-model="country">
                        <input name="contribution_amount" placeholder="Contribution amount" type="text" v-model="amount">
                        <input name="mail" placeholder="E-mail address" type="text" v-model="email">
                        <input name="adress" placeholder="Your ETH address" type="text" v-model="adress">
                        <input name="new_pass" placeholder="New password" type="password" v-model="new_pass">
                        <input name="confirm_new_pass" placeholder="Confirm your new password" type="password">
                        <input name="confirm_cur_pass" placeholder="Confirm your current password" type="password" v-model="inputpass">
                        <div class="newsletter">
                            <input type="checkbox" id="newsletter">
                            <label for="newsletter">Sign up to our newsletter</label>
                        </div>
                        <input name="ok" value="Update" class="button center" v-on:click="handleSubmit">
                    </form>
                </div>
            </div>
        </section>
        <!-- end content -->

        <!-- footer -->

        <footer>
            <div class="container flex al_center">
                <div class="logo">
                    <a href="/"><img src="../images/logo.png" alt=""></a>
                </div>
            </div>
        </footer>

    </div>

    <!-- end footer -->
</template>

<script>
    import axios from 'axios';
    export default {
        name: "update",
        data() {
            return {
                name: '',
                country: '',
                amount: 0,
                email: '',
                adress: '',
                new_pass: '',
                oldpass: '',
                inputpass: '',
            }
        },
        methods: {
            async handleSubmit() {
                if (this.oldpass === this.inputpass) {
                    if (this.new_pass === '') {
                        this.new_pass = this.oldpass
                    }
                    try {
                        const res = await axios.put('https://' + window.location.hostname + ':3000/api/user', {
                            params: {
                                email: localStorage.getItem('email'),
                                name: this.name,
                                country: this.country,
                                amount: this.amount,
                                adress: this.adress,
                                password: this.new_pass
                            }
                        });
                    } catch (error) {
                        console.log(error)
                    }
                    this.$router.push({ path: '/details' })
                } else {
                    this.$Modal.error({
                        title: "ERROR",
                        content: '<b2>Wrong password</b2>',
                        okText: 'OK',
                    });
                }

            }
        },
        async mounted() {
            try {
                const response = await axios.get('https://' + window.location.hostname + ':3000/api/findUser', {
                    params: {
                        email: localStorage.getItem('email')
                    }
                })
                if (response.data.data.length > 0) {
                    console.log(response)
                    this.name = response.data.data[0].name;
                    this.country = response.data.data[0].country;
                    this.amount = response.data.data[0].amount;
                    this.email = response.data.data[0].email;
                    this.adress = response.data.data[0].eth;
                    this.oldpass = response.data.data[0].password;
                }
            } catch  (error) {
                console.error(error);
            }
        }
    }
</script>
