<style scoped>

</style>

<template>

    <div>
        <Modal
                v-model="editUser"
                title="Редактирование пользователя"
                ok-text = "Сохранить"
                cancel-text = "Закрыть"
                @on-ok="SaveUser"
                @on-cancel="cancel">
            <Form :model="formItem" :label-width="180">
                <FormItem label="Full name">
                    <Input v-model="name" placeholder="Full name..." clearable style="width: 300px" />
                </FormItem>
                <FormItem label="Email">
                    <Input v-model="email" placeholder="E-mail address..." clearable style="width: 300px" />
                </FormItem>
                <FormItem label="Country">
                    <Input v-model="country" placeholder="Country..." clearable style="width: 300px" />
                </FormItem>
                <FormItem label="ETH address">
                    <Input v-model="adress" placeholder="ETH address..." clearable style="width: 300px" />
                </FormItem>
                <FormItem label="Contribution amount">
                    <Input v-model="amount" placeholder="Contribution amount..." clearable style="width: 300px" />
                </FormItem>
                <FormItem label="New password">
                    <Input v-model="pass" placeholder="Password..." clearable style="width: 300px" />
                </FormItem>
            </Form>

        </Modal>
        <Button @click="update">Update</Button>

        <Table border :columns="columns7" :data="data6" no-data-text="No data"></Table>

    </div>

</template>

<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                editUser : false,
                editUserID : '',
                data6: this.gettable(),
                formItem: '',
                name: '',
                country: '',
                amount: 0,
                email: '',
                adress: '',
                pass: '',
                columns7: [
                    {
                        title: 'Full name',
                        key: 'name',
                        sortable: true,
                        width: 200,
                    },
                    {
                        title: 'E-mail',
                        key: 'email',
                        sortable: true,
                        width: 200,
                    },
                    {
                        title: 'Country',
                        key: 'country',
                        sortable: true,
                        width: 200,
                    },
                    {
                        title: 'ETH',
                        key: 'eth',
                        sortable: true
                    },
                    {
                        title: 'Contribution amount',
                        key: 'amount',
                        sortable: true,
                        width: 110,
                    },
                    {
                        title: 'Operation',
                        key: 'action',
                        width: 150,
                        align: 'center',
                        render: (h, params) => {
                            return h('div', [

                                h('Button', {
                                    props: {
                                        type: 'success',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.editUser = true;
                                            this.getUserInfo(params.row.email)
                                            this.editUserID = params.row.id
                                        }
                                    }
                                }, 'Изменить'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.remove(params.row.id)
                                        }
                                    }
                                }, 'Удалить')
                            ]);
                        }
                    }
                ],
                }
        },
        methods: {
            gettable () {
                try {
                    let data = {}
                    const response = axios.get('https://' + window.location.hostname + ':3000/api/users');
                    console.log(response)
                    return response.data.data
                } catch (error) {
                    console.log(error)
                }
            },
            async update () {
                try {
                    let data = {}
                    const response = await axios.get('https://' + window.location.hostname + ':3000/api/users');

                    this.data6 =  response.data.data
                } catch (error) {
                    console.log(error)
                }
            },
            async remove (index) {
                try {
                    const response = await axios.delete('https://' + window.location.hostname + ':3000/api/user?id='+ index);
                } catch (error) {
                    console.log(error)
                }
                this.data6.splice(index, 1);
            },
            async getUserInfo(email){
                try {
                    const response = await axios.get('https://' + window.location.hostname + ':3000/api/findUser', {
                        params: {
                            email: email
                        }
                    })
                    console.log(response)
                    this.name = response.data.data[0].name;
                    this.country = response.data.data[0].country;
                    this.amount = response.data.data[0].amount;
                    this.email = response.data.data[0].email;
                    this.adress = response.data.data[0].eth;
                    this.password = response.data.data[0].password;


                } catch (error) {
                        console.log(error)
                }
            },
            async SaveUser(){
                if (this.pass === '') {
                    this.pass = this.password
                }
                try {
                    const res = await axios.put('https://' + window.location.hostname + ':3000/api/user', {
                        params: {
                            email: localStorage.getItem('email'),
                            name: this.name,
                            country: this.country,
                            amount: this.amount,
                            adress: this.adress,
                            password: this.pass
                        }
                    });
                } catch (error) {
                    console.log(error)
                }
                this.data6 = this.gettable()

            }
        },
        activated: function () {
            this.data6 = this.gettable()
        }
    }
</script>
