<style scoped lang="less">
    @import '../styles/style';
    @import '../styles/style-menu';
</style>

<template>
    <div>
        <div class="wrapper page">
            <!-- header -->
            <header>
                <div class="container flex al_center">
                    <a href="/">Go back to AmaStar</a>
                </div>
            </header>

            <button class=" cmn-toggle-switch cmn-toggle-switch__htx">
                <span>menu</span>
            </button>
            <!-- end header -->
            <section class="content">
                <div class="container">
                    <div class="form">
                        <h3>Your email is verified</h3>
			<a href="/login" class="button center button-2">         Login        </a>
                    </div>
                </div>
            </section>

            <footer>
                <div class="container flex al_center">
                    <div class="logo">
                        <a href="/"><img src="../images/logo.png" alt=""></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</template>

<script>
    export default {
        name: "verify",
    }
</script>

