
@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrl-900.otf')  format('opentype'),
	     url('MuseoSansCyrl-900.woff') format('woff'), url('MuseoSansCyrl-900.ttf')  format('truetype'), url('MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
  font-weight: normal;
  font-style: normal;
}
