
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrl-700.otf')  format('opentype'),
	     url('MuseoSansCyrl-700.woff') format('woff'), url('MuseoSansCyrl-700.ttf')  format('truetype'), url('MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
  font-weight: normal;
  font-style: normal;
}
