<style scoped lang="less">
    /*@import "styles/index";*/
    @import 'styles/fonts';
</style>

<template>
    <div>
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        data () {
            return {}
        },
        mounted () {

        },
        beforeDestroy () {

        },
        methods: {

        }
    }
</script>
